:root {

--bg: white;
--text: black;
--link: #0066cc;
--border: #cccccc;

}



.image-grid {

display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;

}

.image-card {

display: flex;
align-items: center;
gap: 30px;
margin-bottom: 40px;

}

.image-card img {

width: 400px;
border-radius: 10px;

}
.image-card {

opacity: 0;
transform: translateY(40px);
transition: all 0.8s ease;

}

.image-card.show {

opacity: 1;
transform: translateY(0);

}



.project-card {

display: flex;
gap: 20px;
margin-bottom: 20px;

}

.project-img {

width: 200px;
border-radius: 10px;

}

.blog-post {

margin-bottom: 40px;
padding-bottom: 20px;
border-bottom: 1px solid var(--border);

}

.date {

color: gray;
font-size: 14px;

}


.dark {

--bg: #0d1117;
--text: #e6edf3;
--link: #58a6ff;
--border: #30363d;

}

body {

background: var(--bg);
color: var(--text);

font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto;

max-width: 900px;
margin: auto;
padding: 20px;

}

.header-flex {

display: flex;
align-items: center;
gap: 20px;

}

.profile-pic {

width: 120px;
border-radius: 50%;

}

h1 {

margin-bottom: 5px;

}

.subtitle {

color: gray;

}

.links a {

margin-right: 15px;
color: var(--link);
text-decoration: none;

}

.links a:hover {

text-decoration: underline;

}

nav {

margin-top: 20px;
margin-bottom: 20px;

}

nav a {

margin-right: 20px;
color: var(--link);
text-decoration: none;

}

nav a:hover {

text-decoration: underline;

}

section {

margin-top: 40px;

}

h2 {

border-bottom: 1px solid var(--border);
padding-bottom: 5px;

}

footer {

margin-top: 50px;
border-top: 1px solid var(--border);
padding-top: 10px;
color: gray;

}

.dark-toggle {

margin-left: auto;

}

button {

padding: 5px 10px;
cursor: pointer;

}


